* {
  box-sizing: border-box;
}

@font-face {
  font-family: atami;
  src: url(assets/Atami-Regular.woff);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  font-family: atami;
  user-select: none;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pageBody {
  overflow: auto;
  display: block;
  align-items: stretch;
  flex: auto;
}

.leftpanel {
  background-color: #e5e5e5;
  float: left;
  width: 25%;
  padding: 20px 20px 20px 20px;
  text-align: center;
  z-index: 1;
  height: 100%;
  transition: all .2s;
  overflow-y: auto;
}

.rightPortion {
  background-color: #eee;
  float: left;
  width: 75%;
  height: 100%;
  overflow-y: scroll;
}

.mainarea {
  padding: 0 40px;
}

.header {
  color: #555;
  box-Shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  z-index: 2;
  background-color: #fff;
  position: relative;
  padding: 15px 20px;
  text-Align: left;
  flex: none;
  transition: all .5s;
}

.header:hover, .header:active {
  padding-left: 50px;
}

.footer {
  text-align: left;
  padding: 20px;
  background-color: #444;
  color: #fff;
  flex: none;
  font-size: 12px;
}

.addItem {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  animation: fadein .5s;
}

.addItemChild {
  position: relative;
  background-color: #fff;
  margin: auto;
  width: 35%;
  top: 40%;
  transform: translate(0, -40%);
  padding: 20px;
  border-radius: 20px;
}

.expenseCard {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.expenseCardContainer {
  box-shadow: 0px 8px 10px -2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  width: 55%;
  overflow: hidden;
  margin: 30px 0px;
  box-shadow: 10px;
  transition: all .3s;
  color: #444;
  animation: fadein 1s;
}

.expenseCardContainer:hover {
  color: #680;
  transform: scale(1.05);
}

.expenseCardLeft {
  font-size: 25px;
  min-width: 60px;
}

.deleteIcon {
  width: 30px;
  margin-left: 20px;
  transition: all .5s;
}

.deleteIcon:hover {
  width: 50px;
}

.formItem {
  color: #446;
  font-size: 15px;
}

.inputfield {
  margin: 15px;
  border: 0px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .4);
  border-radius: 10px;
  padding: 10px 20px;
  outline: thin;
}

.addNewButton {
  background-Color: #446;
  color: #fff;
  border: "0";
  padding: 10px 20px;
  border-Radius: 50px;
  max-width: 220px;
  margin: auto;
  transition: all .2s;
}

.addNewButton:hover, .addNewButton:active {
  transform: scale(1.1);
  background-Color: #066;
}

.expenseText {
  font-size: 25px;
  color: #f00;
  padding: 10px;
  animation: fadein 2s;
  transition: all .5s;
}

.expenseText:hover, .expenseText:active {
  transform: scale(1.4);
}

.expenseCardSeparator {
  width: 1.2px;
  height: 60px;
  background-Color: #ccd;
  margin-Left: 20px;
}

.sidebarLower {
  margin: 15px 10% 20px 10%;
  padding: 10px;
  border-bottom: 1px solid #999;
  font-size: 17px;
  color: #466;
}

.homePage {
  display: flex;
  flex-Direction: column;
  height: 100vh;
  overflow: hidden;
}

.noItemsFound {
  font-Size: 15px;
  padding: 20px;
  padding-top: 80px;
  color: #444;
  animation: fadein 2s;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 10px;
  }
  .homePage {
    height: auto;
  }
  .pageBody {
    display: block;
    overflow: hidden;
  }
  .leftpanel {
    width: 100%;
    height: auto;
    float: none;
    background-color: #eee;
  }
  .rightPortion {
    width: 100%;
    float: none;
    height: auto;
    overflow: hidden;
  }
  .footer {
    display: none;
  }
  .expenseCardContainer {
    width: 100%;
    padding: 15px 20px;
  }
  .mainarea {
    padding: 0 15px 30px 15px;
  }
  .leftpanel {
    padding: 20px 20px 20px 20px;
    overflow: hidden;
  }
  .sidebarLower {
    font-size: 14px;
  }
  .expenseText {
    font-size: 17px;
  }
  .expenseCardLeft {
    min-width: 30px;
    font-size: 15px;
  }
  .expenseCardSeparator {
    height: 30px;
  }
  .addItemChild {
    width: 90%;
  }
  .addNewButton {
    padding: 10px 0;
    font-size: 13px;
  }
  .deleteIcon {
    width: 20px;
  }
  .noItemsFound {
    padding: 20px;
    text-align: center;
  }
}